.App{
  width: auto;
  max-width: 1080px;
  margin: auto;
  font-family: sans-serif;

  @media screen and (max-width: 1080px){
    padding: 0 1rem;
  }

  header{
    h1{
      text-align: center;
      font-size: 4rem;
      margin: 0;
      padding: 1rem 0;
    }
    background: lightgray;
    margin-bottom: 1rem;
  }

  section {
    margin-bottom: 1rem;

    button {
      cursor: pointer;
    }

    form{
      background: rgba(0,0,0,0.05);
      padding: 1rem;
      margin-top: 1rem;
      border: 1px solid rgba(0,0,0,0.1);
      label{
        display: flex;
        flex-flow: column;
        margin-bottom: 1rem;
      }
      .actions{
        width: 100%;
        text-align: right;
        button{
          margin-left: 1rem;
          cursor: pointer
        }
      }
    }

    .TodoList{
      h2{
        font-size: 2rem;
        margin: 0;
      }
      .TodoListItem{
        border: 1px lightgray solid;
        margin: 5px auto;
        padding: 1rem;

        div.TodoListItemTitle {
          display: flex;
          flex-flow: row;
          span {
            font-size: 1rem;
            font-weight: bold;
            color: blue;
            display: block;
            cursor: pointer;
            flex: 1;
          }
          button {
            flex:none;
            margin-left: 1rem;
          }
        }

        p {
          color: gray;
        }

        hr{
          border: 0;
          border-bottom: 1px solid lightgray;
        }
      }
      form {
        background: rgba(0,0,255, 0.1);
        .TodoListItem{
          display: flex;
          flex-flow: column;
          .TodoListItemTitle{
            input[type="text"]{
              flex: 1;
              border: 1px solid lightgray;
              font-family: sans-serif;
            }
          }
          textarea{
            border: 1px solid lightgray;
            font-family: sans-serif;
            margin-bottom: 1rem;
          }
          .actions{
            text-align: right;
          }
        }
      }
    }
  }
}
